@import "../../Styles/fonts.scss";
@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.main {
    font-family:'AvenirRegular';
    color: $background-black;

    &__header {
        @include h1-mobile-font;
        font-family: 'AvenirBold';
        margin-top: 24px;
        padding: 0 16px;

        @include tablet {
            @include h1-desk-font;
            margin-bottom: 40px;
            padding: 0 24px 0 24px;
        }

        @include desk {
            padding: 0 180px;
        }
    }

    &--flex {
        padding: 0 16px;

        @include tablet {
            padding: 0 24px;
        }
        @include desk {
            padding: 0 180px;
            display: flex;
        }
    }
}

