@import "../../Styles/fonts.scss";
@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.comments {
    margin: 0 16px;
    display:flex;
    padding: 20px 0 0 0;
    border-bottom: 1px solid $mercury;

    &__img {
        height: 40px;
        width: 40px;
        border-radius:50%;
        background-color: $Silver;
        margin: 15px 15px 0 0;
    }

    &__container {
        width: 70%;

        &__info {
            display:flex;
            justify-content: space-between;
        }

        &__comment{
            @include h4-mobile-font;
        }
    }
}

.container__info__name {
    @include h4-mobile-font;
    font-family: 'AvenirDemiBold';
    margin: 0 10px 0 0;
}

.container__info__date {
    @include h5-mobile-font;
    color: $Silver;
    margin: 0;
}

