@import "../../Styles/fonts.scss";
@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.header {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    margin-bottom: 16px;

    @include tablet {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        height: 80px;
        margin: 0;
    }

    @include desk {
        padding: 0 180px;
        justify-content: space-between;
    }

    &__logo {
        display:flex;
        height: 48px;
        width: 50%;
        align-self: center;
        justify-content: center;

        @include tablet {
            height: 25px;
            width: 20%;
            margin-right: 150px;
            justify-content: flex-start;
        }

        @include desk {
            height: 30px;
            margin-right: 345px;
        }
    }


    &__input {
        background-image: url("../../assets/Icons/SVG/Icon-search.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
        background-position-y: center;
        background-position-x: 15px;
        padding-left: 40px;
        height: 40px;
        border-radius: 5px;
        border: solid 1px $mercury;
        background-color: $alabaster;

        @include tablet {
            width: 170px;
        }

        &:active {
            border-color: $brainflix-blue;
        }

        &:hover {
            border-color: $brainflix-blue;
        }


        @include desk {
            width: 260px;
            height: 45px;
            margin-right:20px;
            
        }
    }

    &__container {
        margin: 8px 0 0 0;
        height: 48px;
        display:flex;

        @include tablet {
            width: 25%;
            margin: 0;
        }

        @include desk {
            width: 20%;
            justify-content: flex-end;
        }

        &__button {
            background-image: url("../../assets/Icons/SVG/Icon-upload.svg");
            background-repeat: no-repeat;
            background-size: 15px 15px;
            background-position-y: center;
            background-position-x: 25%;
            height: 100%;
            background-color: $brainflix-blue;
            border: 0;
            border-radius: 5px;
            color: $text-white;
            width: 100%;

            &:hover {
                background-color: $brainflix-blue-hover;
            }

            @include tablet {
                background-position-x: 15px;
                padding-left: 20px;
                height: 45px;
            }

            @include desk {
                height: 49px;
                width: 100%;
            }
        }

        &__link {
            width:80%;
        }

        @include desk {
            height: 49px;
            width: 20%;
        }

        &__photo {
            width: 48px;
            border-radius: 50%;
            height: 100%;
            margin-left: 16px;
        }
    }
    
}

