$background-black: #323232;
$instock-blue: #004892;
$brainflix-blue: #0095FF;
$text-white: #FFFFFF;
$Silver: #AFAFAF;
$instock-blue-dark: #002F5F;
$brainflix-blue-hover: #0065AD;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;