@import "../../Styles/fonts.scss";
@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.input {
    display:flex;
    flex-direction: column;
    padding: 0 16px;

    @include tablet {
        padding: 0 24px;
    }

    @include desk {
        padding: 0 0 0 180px;
    }

    &__counter {
        @include h4-mobile-font;
        font-family: 'AvenirDemiBold';

        @include tablet {
            @include h4-desk-font;
        }
    }

    &__title {
        @include h5-mobile-font;
        color: $Silver;
        margin: 0 0 0 62px;
        font-family: 'AvenirDemiBold';

        @include tablet {
            @include h5-desk-font;
        }
    }

    &__section {
        display:flex;
        border-bottom: 1px solid $mercury;

        &__image {
            height: 40px;
            width: 40px;
            border-radius: 50%;
            margin-right: 20px;
        }

        &__form {
            display:flex;
            flex-direction: column;
            width: 80%;

            @include tablet {
                flex-direction: row;
            }
        }
    }
}

.section__form__comment-box {
    height: 60px;
    padding: 15px;
    font-family: 'AvenirRegular';
    border: 2px solid $Silver;
    border-radius: 4px;
    margin: 0 0 16px 0;


    @include tablet {
        width: 70%;
        height: 12px;
    }

    @include desk {
        padding: 10px;
        height: 20px;
    }

    &:active {
        border-color: $brainflix-blue;
    }

    &:hover {
        border-color: $brainflix-blue;
    }

    &::placeholder {
        color: $background-black;
        @include h5-mobile-font;
    }
}

.section__form__button {
    height: 45px;
    border-radius: 5px;
    background-color: $brainflix-blue;
    color:$text-white;
    border: 1px solid $brainflix-blue;
    font-family: 'AvenirRegular';
    margin: 0 0 24px 0;

    &:active {
        background-color: $brainflix-blue-hover;
    }

    @include tablet {
        width: 30%;
        margin-left: 16px;
    }
}